# Python programming
# By Dr.Rafeek Yanni

In [ ]:
# Data Types:
# Integer - Int : Positive or Negative Number (5,-5)
# Float : Real Number + Dicimal number 5.5
# Boolean - Bool : Two Values (True-False)
#                  Compare between two number 6==5 ==>False
# String - str: SIngle, Double, Triple quotes "Hello", 'Hello', '''Hello'''

In [ ]:
# Print Function 
print("Hello World")
print("Hello!"+'How Are You')

In [ ]:
x=("Apple","Banana","Cherry")
print(x)

In [ ]:
# Print Function 
print("Hello World")
print("Hello!",'How Are You')

In [ ]:
# Python "case Sensitive"
print("Hello")
Print("Hello")

In [ ]:
# You Can use single-quote marks to enclose a string literal
# that contains double quotes as part of the string 
print('Hello my Frind to "AOU Egyt"')
print("Welcom To AOU Egypt")

In [ ]:
# Square brackets can be used to access elements of the string
a = "Hello World"
print(a[1])

In [ ]:
# We can use the Len() function to get the Length of the String
s="4246xx"
print(len(s))

In [ ]:
# To check if a certain phrase or character is present in a string, we can use the keyword in.
s="Welcome to AOU Egypt"
print("AOU" in (s))

In [ ]:
# Slicing format :: [Start : End : Step]
# It will return a string containing a copy of the characters from start up to but not including, stop.
# The step is the steps to take from start to end.
# From Start up to but not including End
s="Hello, AOU World"
print(s[1:5])

In [ ]:
# By leaving out the start index, the range will start at the first character.
s="Hello, AOU World"
print(s[:5])

In [ ]:
# By leaving out the stop index, the range will go to the end.
s="Hello, AOU World"
print(s[5:])

In [ ]:
# You can use negative indexes to start the slice from the end of the string.
s="Students!"
print(s[-6:-1])
print(s[-6:-9:-1])
print(s[-6::-1])

In [ ]:
# You can specify the steps:
s="Hello, AOU students!"
print(s[0:5:2])

In [ ]:
# Using Step Value 2
s="Students!" 
print(s[-6:-1:2])
#print(s[-1::-1])
#print(s[::-1])

In [ ]:
# By default, the value of this parameter is ‘\n’ (the new line character).
# Python’s print() function comes with a parameter called ‘end’. 
# You can end a print statement with any character or string using this parameter

#-->No Space
print('I',end='')
print('Love',end='')
print('python')

#-->With Space
print('I',end=' ')
print('Love',end='*')
print('python')

In [ ]:
print('I', 'Love', 'Python')
print('I', 'Love', 'Python', sep='*')

In [ ]:
# Escape Charachters
# \n: Causes output to be advanced to the next line.
# \t: Causes output to skip over to the next horizontal tab position 

print('I Love\n\nPython')
print('I Love\tPython')

In [ ]:
# Displaying Multiple Items with the + Operator

print('This is One String' )
print('This is ' + 'One String' )
print('This is' + 'One String' )
print('This is' , 'One String' )
print('This is ' + 'One String', sep="*")
print('This is ' , 'One String', sep="*")

In [ ]:
# And Repeted with *
print(2*"Mohamed " + "Ahmed")
print("Ahmed " *3)

In [ ]:
# Using Formate Specifier
print(format(123456.789,'.2f'))
print(format(123456.789,'.3f'))

In [ ]:
# You can assign to multiple names at the same times
x,y,z=1,2,3
print(z)

In [ ]:
# Displaying multiplie items with one call - Example1
y=3
Name="Bilal"
print(y,":",Name)
print(y,":",Name,sep="")
#print(y+":",Name)

In [ ]:
# Displaying multiplie items with one call - Example2
y="Hello"
print(y,"World!")
print(y+"World!")

In [ ]:
# Displaying multiplie items with one call - Example3
Course_Name="Python Programming"
Course_Section=210
print("The course is",Course_Name,", and my section is",Course_Section)

In [ ]:
# Reading from the keyboard : variable = input(prompt)
x=input("Enter Your Name:")
print(x)

In [ ]:
# For reading values (numbers) from the keyboard we can use “eval()” which converts the string to values.
x=input("Enter 1st Num")
y=input("Enter 2nd Num")
print("The total number ",x+y)

In [ ]:
# For reading values (numbers) from the keyboard we can use “eval()” which converts the string to values.
x=eval(input("Enter 1st Num"))
y=eval(input("Enter 2nd Num"))
print("The total number ",x+y)

In [ ]:
# Math Operation

#Float Division 
print(5/2)
# Integer Division
print(5//2)
# Exponentiation
print(5**2)
# Remainder
print(5%2)

In [ ]:
# Operator Precedence
# The precedence of the math operators, from highest to lowest, are:
# Parentheses ()
# Exponentiation: **
# Multiplication, division, and remainder: * / // %
# Addition and subtraction: + −

print(5+2*4)
print(10/2-3)
print(8+12*2-4)
print(6-3*2+7-1)
print((6-3)*(2+7)/3)

In [ ]:
# Casting : Coonvert Number to Another
# int(x) to convert x to a plain integer.
# float(x) to convert x to a floating-point number.
# str() to construct string from a wide variety of data types, including strings, integer literals and float literals

x=input("Enter Grade: ")
y=int(x)
print(y*2)
print(x*2)

In [ ]:
# Convert To Float
x="25"
z=float(x)
print(z)
print(z*2)

In [ ]:
# Convert To String
x=5
print(str(x),"00 Students",sep='')

In [ ]:
# String Testing Methods
txt1 = "Coompany12"
txt2 = "Coompany12!"
x = txt1.isalnum()
y = txt2.isalnum()
print(x,y)

In [ ]:
# Modification Methods
name1="Ahmed"
name2="Mazen"
name3="Fadi"
print(name1.lower())
print(name2.upper())
print(name3.lower())